Final Project

PROJECT TOPIC Predict gender of baby name base on state

Authors Vincent Q. Do, Dang H. Tran, and Ryan N. Treftz

# I. Introduction:

This project is intended to make a prediction of a baby’s gender and its state.
Predicting the baby’s gender will help the local government to have a better idea
about the future workforce. This should give us some insight on how certain states
like to name their children.

# II. Data Source:

The data source we are using is ‘US Baby Names’ dataset. Only names with at
least 5 babies born in the same year/state are included in this dataset for privacy.
Which means very unique names will be excluded.

# III  Outcome and Expectations:

Create a model that will accurately predict the gender of a baby based on its
name and the state it’s borned in.
We expect the model to have somewhere around 80-90% accuracy because
there are other variables that we are disregarding such as current time period, pop
culture, and ethnicity.

Using the name, we can predict what state the babies will be born in (use state population) => Professor suggestion

# Task 1

Read in the data

In [ ]:
#Proposal Solution
import pandas as pd

df = pd.read_csv("StateNames.csv", usecols = ['Name', 'Year', 'Gender','State','Count'])

# Task 2

Decide on data structure to use

# Task 3

Split the data into `train, test`.
- Train names are from prior to 2000
- Test naes are from 2000 to 2014

In [17]:
trainSet = df[(df['Year'] < 2000)].reset_index()
testSet = df[(df['Year'] >= 2000)].reset_index()

In [18]:
babiesTrainSet = pd.DataFrame(trainSet.groupby(['State', 'Name', 'Gender'])['Count'].sum()).reset_index()
babiesTrainSet

       State     Name Gender  Count
0         AK  Aaliyah      F      5
1         AK    Aaron      M   1389
2         AK     Abby      F      8
3         AK  Abigail      F    201
4         AK  Abraham      M     37
...      ...      ...    ...    ...
227665    WY  Zachery      M      7
227666    WY  Zackary      M     11
227667    WY     Zane      M     42
227668    WY    Zella      F      5
227669    WY      Zoe      F     22

[227670 rows x 4 columns]

# Task 4

Learn the Bayes classifier on the train set